.app-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;;
}

.row-fill{
    background-color: var(--color-bg-main-dark);
    color: var(--color-txt-body);
}
.row-content {
    flex: 1;
}

.row-item {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1200px;
}